
Lab 03 Assignment                                    
Name : Bhargav R Pandya                                      
Student ID : 202218055                              
Subject Code : IT 606

1. Print 1 to n.

In [ ]:
n = int(input("Enter any positive num n : "))

for i in range(1,n+1):
  print(i, end = ",")

Enter any positive num n : 8
1,2,3,4,5,6,7,8,

2. Print 2,4,6,8,10,.....n,

In [ ]:
n = int(input("Enter any positive num n : "))

for i in range(1,n+1):
  if i%2==0:
    print(i , end= ",")

Enter any positive num n : 10
2,4,6,8,10,

3. Print 1,3,5,7,9,.......n,

In [ ]:
n = int(input("Enter any positive num n : "))

for i in range(1,n+1):
  if i%2!=0:  
    print(i, end = ",")

Enter any positive num n : 15
1,3,5,7,9,11,13,15,

4. Print 1,2,4,8,16,32,64,.....,n

In [ ]:
n = int(input("Enter any positive num n : "))

for i in range(1,n+1):
    print(2**i, end = ",")

Enter any positive num n : 19
2,4,8,16,32,64,128,256,512,1024,2048,4096,8192,16384,32768,65536,131072,262144,524288,

5. Print n to 1

In [ ]:
n = int(input("Enter any positive num n : "))

for i in range(n,0,-1):
  print(i, end = ",")

Enter any positive num n : 11
11,10,9,8,7,6,5,4,3,2,1,

6. Observe the pattern and print 1,10,2,9,3,8,4,7,5,6 using for loop without pre-defining this
sequence.

In [ ]:
n = int(input("Enter a value of n = "))
for i in range(0,n):
  print(i+1 , end = " , ")
  print(10-i , end=" , ")
  i+=1

Enter a value of n = 5
1 , 10 , 2 , 9 , 3 , 8 , 4 , 7 , 5 , 6 ,


7. Observe the pattern and print 2,11,20,28,35,41,46,50,53,55,56 using for loop without pre-
defining this sequence.

In [ ]:
n = 1
print(n+1 , end = " , ")
for i in range(10,0,-1):
  print(n+i , end = " , ")
  n=n+i

2 , 11 , 20 , 28 , 35 , 41 , 46 , 50 , 53 , 55 , 56 ,


8. Print first n even numbers.

In [ ]:
n = int(input(" how many even num you want to print : "))

for i in range(1,n+1):
  print(2*i, end = " , ")

 how many even num you want to print : 15
2 , 4 , 6 , 8 , 10 , 12 , 14 , 16 , 18 , 20 , 22 , 24 , 26 , 28 , 30 ,

9. Print first n odd numbers.

In [ ]:
n = int(input(" how many odd num you want to print  : "))

for i in range(1,n+1):
    print(2*i-1 , end = " , ")

 how many odd num you want to print  : 14
1 , 3 , 5 , 7 , 9 , 11 , 13 , 15 , 17 , 19 , 21 , 23 , 25 , 27 ,

10. Print first n natural numbers.

In [ ]:
n = int(input(" How many natural number you want to print "))

for i in range(1,n+1):
  print(i, end = ",")

 How many natural number you want to print 19
1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,

11. Print the total of 1 to n.

In [ ]:
n = int(input(" Enter any positive num  : "))
sum = 0
for i in range(1,n+1):
  sum+=i
print("sum of first {} natural num is {}".format(n,sum))

 Enter any positive num  : 20
sum of first 20 natural num is 210

12. Print the total of 1/2+2/3+....+(n-1)/n.

In [ ]:
n = int(input(" Enter any positive num "))
sum = 0
for i in range(1,n+1):
  sum+=(i/(i+1))
print(sum)

 Enter any positive num 15
12.619271006771008

13. Print the total of 1-2+3-4+5-6+7-8+9-10.........n.

In [ ]:
n = int(input("n = "))

sum = 0

for i in range(1 , n+1):
  sum=sum+((-1)**(i+1))*i
print(sum)

n = 20
-10

14. Print the total of first n even numbers.

In [ ]:
n = int(input(" Enter positive value for n :  "))

sum = 0

for i in range(1,n+1):
  if n%2==0:
    sum+=2*i
print(sum)

 Enter positive value for n :  20
420

15. Print the total of first n odd numbers.

In [ ]:
n = int(input(" Enter positive value for n :  "))

sum = 0

for i in range(1,n+1):
  if n%2!=0:
    sum+=(2*i-1)
print(sum)

 Enter positive value for n :  25
625

16. print 0.1+0.02+0.003+0.0004+0.000005.

In [ ]:
n= int(input("n = "))
sum  = 0
for i in range(1 , n+1):
  sum = sum + i*((0.1)**i)
print(sum)

n = 5
0.12345

17. Accept one number (atleast 4 digit number) from user and display Reverse of it.

In [ ]:
n = int(input("Enter a number of atleast four digit : "))
rev = 0
while n != 0:
  temp = n%10
  rev = rev*10+temp
  n = n//10
print("Reverse num = {}".format(rev))

Enter a number of atleast four digit : 4234234
Reverse num = 4324324

In [ ]:
k = str("23df")
k = [ele for ele in k]
k

['2', '3', 'd', 'f']

18. Accept one number (atleast 4 digit number) from user and display sum of its digits.

In [ ]:
n = int(input("Enter a number of atleast four digit : "))
digit = len(str(n))
sum = 0 
while n != 0 :
  rem = n%(10)
  n= n//(10)
  sum+=rem
print(sum)

Enter a number of atleast four digit : 123454321
25

19. Accept one number from user and display its factorial.

In [ ]:
n = int(input(" n = "))
fact = 1
if n > 0 :
  for i in range(1,n+1):
    fact*=i
print(fact)

 n = 10
3628800

20. Accept one number from user and find if it is prime or not.

In [ ]:
import math
n = int(input(" Enter any positive num "))
if n==1:
  print("{} is not prime not composite ".format(n))
elif n==2 or n==3:
  print("{} is prime ".format(n))
else:
  k = math.floor(math.sqrt(n))
  for i in range(2,k):
    rem = n%i
    if rem == 0:
      print("{} is not prime".format(n))
      break
  else : 
    print("{} is prime".format(n))

 Enter any positive num 1729
1729 is not prime

21. Accept one number from user and find if it is Armstrong or not.

In [ ]:
n = int(input(" Enter any num : "))
order = len(str(n))
sum = 0
temp = n

while temp>0:
  a = temp%10
  a=a**order
  sum+=a
  temp=temp//10
if n==sum:
  print(n,"is armstrong num")
else:
  print(n,"is not armstrong num")

 Enter any num : 1634
1634 is armstrong num

22. Print 0 1 1 2 3 5 8 13 21 34 55 ... (Fibonanci series)

In [ ]:
n = int(input("first  n number of fibonanci = "))
a = 0
b = 1
print("0 , 1" , end  = " , ")
for i in range(0,n):
  sum = a+b
  print(sum , end = " , ")
  a = b
  b = sum

first  n number of fibonanci = 20
0 , 1 , 1 , 2 , 3 , 5 , 8 , 13 , 21 , 34 , 55 , 89 , 144 , 233 , 377 , 610 , 987 , 1597 , 2584 , 4181 , 6765 , 10946 ,

23. Generate the value of n! factorial for n number

In [ ]:
n = int(input("Enter any num : "))
fact = 1
if n < 0 :
  print("Invaild ")
elif n==0:
  print("0! = 1")
else : 
  for i in range(1,n+1):
    fact*=i
  print("{} ! = {}".format(n,fact))

Enter any num : 6
6 ! = 720

24. 1+2+3+4+5+6 up to n terms

In [ ]:
n = int(input("Enter any positive num : "))
if n<0:
  print("invalid !")
else :
  i=1
  sum=0
  while i < n+1 :
    sum+=i
    i+=1
print("1+2+3+4+5+6 up to {} terms = {}".format(n,sum))

Enter any positive num : 20
1+2+3+4+5+6 up to 20 terms = 210

25. 1+3+5+7+9 up to n terms

In [ ]:
n = int(input("Enter any positive num : "))
if n<0:
  print("invalid !")
else :
  i=1
  sum=0
  while i < n+1 :
    sum+=i
    i+=2
print("1+3+5+7 up to {} terms = {}".format(n,sum))

Enter any positive num : 22
1+3+5+7 up to 22 terms = 121


26. 1+2+4+5+7+8 up to n terms

In [ ]:
n = int(input("Enter any positive num : "))

if n < 0 :
  print("invalid !")
else :
  sum1 , sum2 = 0,0
  i , j = 1,2
  while i < n+1 and j < n+1:
    sum1 = sum1+i
    i+=3
    sum2 = sum2+j
    j+=3
print(sum1+sum2)

Enter any positive num : 15
75

27. Write a program that perform the following output for n by n matrix without using array

1 2 3 4 5                                               
10 9 8 7 6                                   
11 12 13 14 15                                 
20 19 18 17 16                           
21 22 23 24 25

In [ ]:
n = int(input("Enter n : "))
k = 1
for i in range(1,n+1):
  if i%2 != 0 :
    for j in range(k,k+n):
      print(j , end = " ")
    print()
  else :
    k = k+n
    for j in range(k+n-1,k-1,-1):
      print(j , end = " ")
    print()
    k+=n

Enter n : 5
1 2 3 4 5
10 9 8 7 6
11 12 13 14 15
20 19 18 17 16
21 22 23 24 25

28. Accept a number (X) and perform X+ X^2 + X^3 + X^4 + X^5+........+X^n

up to n terms

In [ ]:
x = float(input("Enter a value of x : "))
n = int(input("Enter a value of n : "))
sum=0
for i in range(1,n+1):
  sum+=(x)**i
print("X+ X^2 + X^3 + X^4 + X^5+........+X^n = {}  , where x = {} , n = {}".format(sum,x,n))

Enter a value of x : 3
Enter a value of n : 5
X+ X^2 + X^3 + X^4 + X^5+........+X^n = 363.0  , where x = 3.0 , n = 5

29. Print the following patterns for n number of rows.

pattern 1

In [ ]:
n = int(input("Enter number of n: "))
for i in range(1,n+1):
  print("*"*i)

Enter number of n: 5
*
**
***
****
*****

pattern 2

In [ ]:
n = int(input("Enter number of n: "))

m = 0

for i in range(1, n+1):
    for space in range(1, (n-i)+1):
        print(end="  ")
   
    while m!=(2*i-1):
        print("* ", end="")
        m += 1
   
    m = 0
    print()

Enter number of n: 6
          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
* * * * * * * * * * *

pattern 3

In [ ]:
n = int(input("Enter number of n: "))
for i in range(0,n):
  for j in range(0,n):
    if i+j >= n-1:
      print("*" , end = "")
    else:
      print(" " , end = "")
  print()

Enter number of n: 7
      *
     **
    ***
   ****
  *****
 ******
*******

30. Print the following pattern for n number of rows

pattern 1

In [ ]:
arr = ["A","B","C","D","E"]
for ele in arr:
  print(ele*5)

AAAAA
BBBBB
CCCCC
DDDDD
EEEEE

pattern 2

In [ ]:
n = int(input("Enter number of n: "))
for i in range(0,n):
  print(10**i)

Enter number of n: 5
1
10
100
1000
10000

pattern 3

In [ ]:
n = int(input("Enter number of n: "))
for i in range(n,0,-1):
  for j in range(1,i+1):
    print(j,end = "")
  print()

Enter number of n: 6
123456
12345
1234
123
12
1