**Lab 01: Assignment**

1. Print "Python Programming"

In [ ]:
print('"Python Programming"')

"Python Programming"

2. Print “Python Programming” with each character on separate 
lines

In [ ]:
print('"P\ny\nt\nh\no\nn\n \nP\nr\no\ng\nr\na\nm\nm\ni\nn\ng\n"')
'''
use \n for new line
use \t for tab
'''

"P
y
t
h
o
n

P
r
o
g
r
a
m
m
i
n
g
"

'\nuse \n for new line\nuse \t for tab\n'

3 . Print Your Name On screen.

In [ ]:
print("Bhargav Rajendrabhai Pandya")

Bhargav Rajendrabhai Pandya

4. Print Address on screen.

In [ ]:
print(" 395/a/2 , street 2 \n Green city , Ranjitsagar Road \n Jamnagar-361005 \n Gujarat ")

 395/a/2 , street 2
 Green city , Ranjitsagar Road
 Jamnagar-361005
 Gujarat

5. Enter the value of an integer variable and print it on screen

In [ ]:
a = 5
print(a)

5

6. Enter the value of an float variable and print it on screen.

In [ ]:
x = 5.5674
print(x)

5.5674

7. Enter the value of an string variable and print it on screen.

In [ ]:
k = "xyz"
print(k)

xyz

8. Input two numbers and prints its square and cube.

In [ ]:
p = float(input("p = "))
q = float(input("q = "))
print("p^2 = {}".format(p**2))
print("p^3 = {}".format(p**3))
print("q^2 = {}".format(q**2))
print("q^3 = {}".format(q**3))

p = 3
q = 5
p^2 = 9.0
p^3 = 27.0
q^2 = 25.0
q^3 = 125.0

9. Input two numbers and prints its Addition, Subtraction, 
Multiplication, and Division.

In [ ]:
a = float(input("a = "))
b = float(input("b = "))
print("a+b = {}".format(a+b))
print("a-b = {}".format(a-b))
print("a*b ={}".format(a*b))
print("a/b = {}".format(a/b))

a = 3
b = 9
a+b = 12.0
a-b = -6.0
a*b =27.0
a/b = 0.3333333333333333

10. Verify the formula l=(c+d)*(g+h).

In [ ]:
c = float(input("c = "))
d = float(input("d = "))
g = float(input("g = "))
h = float(input("h = "))
l = (c+d)*(g+h)
print("l = {} ".format(l))

c = 3.5
d = -4
g = 8
h = 6.3
l = -7.15

In [ ]:
(c+d)*(g+h)

-7.15

11. Verify the formula x=((k-4) * (a*4))/100

In [ ]:
k = float(input("k = "))
a = float(input("a = "))
x = ((k-4) * (a*4))/100
print("x = {} ".format(x))

k = 5
a = 13.45
x = 0.5379999999999999

In [ ]:
((k-4) * (a*4))/100

0.5379999999999999

12. Verify the formula s=((4 * a+c)-2 * a * b)/100

In [ ]:
a = float(input("a = "))
b = float(input("b = "))
c = float(input("c = "))
s = ((4 * a+c)-2 * a * b)/100
print("s = {} ".format(s))

a = 9
b = 40
c = 41
s = -6.43

In [ ]:
((4 * a+c)-2 * a * b)/100

-6.43

13. Verify the formula a=p*(1+(r/100)/n)-p

In [ ]:
p = float(input("p = "))
r = float(input("r = "))
n = float(input("n = "))
a = p*(1+(r/100)/n)-p
print("a = {} ".format(a))

p = 40000
r = 8
n = 3
a = 1066.6666666666642

In [ ]:
p*(1+(r/100)/n)-p

1066.6666666666642

14.  Verify the formula t=((v+s)+(l-m)*l)

In [ ]:
v = float(input("v = "))
s = float(input("s = "))
l = float(input("l = "))
m = float(input("m = "))
t = ((v+s)+(l-m)*l)
print("t = {} ".format(t))

v = 4
s = -4.7
l = 5
m = 10
t = -25.7

In [ ]:
((v+s)+(l-m)*l)

-25.7

15. Calculate the area of circle.

In [ ]:
r=float(input("radius_of_circle = "))
area = (22/7)*r*r
print("area = {}".format(area))

radius_of_circle = 6
area = 113.14285714285714

16. Calculate the area of Triangle

In [ ]:
a = float(input("a = "))
b = float(input("b = "))
c = float(input("c = "))
s = (a+b+c)/2
area = (s*(s-a)*(s-b)*(s-c))**(0.5)           #heron's formula
print("area of triangle = {}".format(area))

a = 3
b = 5
c = 4
area of triangle = 6.0

17. Verify the formula c=(a+b)*(a+b)

In [ ]:
a = float(input("a = "))
b = float(input("b = "))
x = (a+b)*(a+b)
print("x = {}".format(x))

a = 4
b = 5
x = 81.0

In [ ]:
print((a+b)*(a+b))

81.0

18. Write a program to count the simple interest.

In [ ]:
p = float(input("Enter Principal amount = "))
r = float(input("Enter Rate of Interest in % per annum = "))
n = int(input("Enter Time duration (in years) = "))
s_i = (p*r*n)/100
print("Simple_interest = {}".format(s_i))

Enter Principal amount = 50000
Enter Rate of Interest in % per annum = 8
Enter Time duration (in years) = 10
Simple_interest = 40000.0

19. Input a Rupees and prints its value converted into Dollar.

In [ ]:
# 1 ruppe = 0.013 $
ruppe = float(input("ruppes = "))
dollar = 0.013*ruppe
print("ruppes_to_dollar = {}".format(dollar))

ruppes = 50000
ruppes_to_dollar = 650.0

20. Input a Number of Chairs and its Total Cost and Prints the Cost 
of Each chair

In [ ]:
no_of_chair = int(input("Number of chairs = "))
total_cost_of_chairs = float(input("Total_cost_of_chairs = "))
k= total_cost_of_chairs/no_of_chair
print("Cost of one chair = {}".format(k))

Number of chairs = 10
Total_cost_of_chairs = 5000
Cost of one chair = 500.0

21. Print the message as:

In [ ]:
print("HELLO\n\tI am a student at\n\t\tDAIICT\nD-Dhirubhai\n\tA-Ambani\n\t\t\tI-Institute\n\t\t\t\tOf\n\t\t\tI-Information\n\t\t\t\tAnd\n\t\tC-Communication\nT-Technology")

HELLO
	I am a student at
		DAIICT
D-Dhirubhai
	A-Ambani
			I-Institute
				Of
			I-Information
				And
		C-Communication
T-Technology