# Lab 04: **Assignment**

Name : Bhargav R Pandya

S_Id : 202218055

1. Write a Python program to sum all the items in a list.

In [ ]:
list1 = []
n = int(input("Enter number of element in a list : "))
for i in range(0,n):
  ele = float(inpu4t("Enter element of a list : "))
  list1.append(ele)
print("list = ",list1)

sum=0
for i in range(0,len(list1)):
  sum = sum + list1[i]
print("Sum of all the items in a listt is : ",sum)

Enter number of element in a list : 4
Enter element of a list : 2
Enter element of a list : 3
Enter element of a list : 5
Enter element of a list : 2
list =  [2.0, 3.0, 5.0, 2.0]
Sum of all the items in a listt is :  12.0

2. Write a Python program to multiply all the items in a list.

In [ ]:
list1 = []
mul = 1
n = int(input("Enter number of element in a list : "))
for i in range(0,n):
  ele = int(input("Enter element of a list : "))
  list1.append(ele)
  mul *= ele
print("list = ",list1)
print("Multiply of all the items in a list is : ",mul)

Enter number of element in a list : 5
Enter element of a list : 7
Enter element of a list : 4
Enter element of a list : -43
Enter element of a list : 5
Enter element of a list : 3
list =  [7, 4, -43, 5, 3]
Multiply of all the items in a list is :  -18060

3. Write a Python program to get the largest number from a list without using inbuilt function.

In [ ]:
lis = []
n = int(input("Enter number of elemnet in a list : "))

for i in range(0,n):
  e = int(input("Enter element in a list : "))
  lis.append(e)

print("list : ",lis)

m = lis[0]

for e in lis:
  if (e > m):
    m = e
    
print("Largest number from a list" ,m)

Enter number of elemnet in a list : 6
Enter element in a list : 3
Enter element in a list : 3
Enter element in a list : 65
Enter element in a list : -87
Enter element in a list : 5
Enter element in a list : 4
list :  [3, 3, 65, -87, 5, 4]
Largest number from a list 65

4. Write a Python program to get the smallest number from a list without using inbuilt
function.

In [ ]:
list1 = []
n = int(input("Enter number of element in a list : "))
for i in range(0,n):
  ele = int(input("Enter element in a list : "))
  list1.append(ele)
print("list = ",list1)
s = list1[0]
for ele in list1:
  if (ele < s):
    s = ele
print("Smallest element in a list : ",s)

Enter number of element in a list : 4
Enter element in a list : 4
Enter element in a list : 34
Enter element in a list : 63
Enter element in a list : 76
list =  [4, 34, 63, 76]
Smallest element in a list :  4

5. Write a Python program to count the number of strings where the string length is 2 or more
and the first and last character are same from a given list of strings

In [ ]:
list1 = ["23","bcd","ballb","jackj","basketball"]
count = 0
for string in list1:
  if (len(string) > 1 and string[0] == string[-1]) :
    count = count + 1
print("list : ",list1)
print("Count : ",count)

list :  ['23', 'bcd', 'ballb', 'jackj', 'basketball']
Count :  2

6. Write a Python program to remove duplicates from a list.

In [ ]:
list1=list(input("Enter any List:"))
print("Given_List :",list1)
list2=list(set(list1))
print("Final_List :",list2)

Enter any List:344565
Given_List : ['3', '4', '4', '5', '6', '5']
Final_List : ['3', '5', '6', '4']

7. Write a Python program to check a list is empty or not.

In [ ]:
list1=[]
if len(list1)==0:
  print("Given List is Empty.")
else:
  print("Given List is not Empty.")

Given List is Empty.

8. Write a Python program to find the list of words that are longer than length ‘n’ from a given
list of words.

In [ ]:
list1=["bhargav","erdsdf","sdfad","yy","imposible"]
print("Given List :",list1)
list2=[]
for ele in list1:
  if len(ele) > len(list1):
    list2.append(ele)
print("Final List :",list2)

Given List : ['bhargav', 'erdsdf', 'sdfad', 'yy', 'imposible']
Final List : ['bhargav', 'erdsdf', 'imposible']

9. Write a Python function that takes two lists and returns True if they have at least one
common member.

In [ ]:
def check(list1,list2):
  for i in list1:
    for j in list2:
      if i == j :
        return True
  return False

list1=[1,2,3,4,5]
list2=[5,6,7,8,4]
check(list1,list2)

True

10. Write a Python program to print the numbers of a specified list after removing even
numbers from it

In [ ]:
list1=[11,22,33,44,55,66]
print("Given List :",list1)
for ele in list1:
  if ele % 2==0:
    list1.remove(ele)
print("Final List :",list1)

Given List : [11, 22, 33, 44, 55, 66]
Final List : [11, 33, 55]

11. Write a Python program to generate a list of elements where the values are square of
numbers between 1 and 30 (both included).

In [ ]:
square = []
for i in range(1,31):
  square.append(i**2)
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

12. Write a Python program to convert a list of characters into a string.

In [ ]:
list1 = ['M','Sc. ','D','S']
str1 = ""
for i in list1:
  str1+=i
print(str1)

MSc. DS

13. Write a python program to check whether two lists are circularly identical.

In [ ]:
def cir_id_list(list1,list2):
  list1.extend(list1)
  for i in range(len(list1)):
    if list2 == list1[i : i + len(list2)]:
      return True
  return False

list1 = [5,7,7,3,2,2]
list2 =  [5,7,4,3,2]
list3 = [4,3,2,5,7]

print("Is list1 and list2 circularly identical ? " , cir_id_list(list1,list2))
print("Is list2 and listt3 circularly identical ? " ,cir_id_list(list2,list3))

Is list1 and list2 circularly identical ?  False
Is list2 and listt3 circularly identical ?  True

14. Write a Python program to find the second largest number in a list.

In [ ]:
arr = [7,4,-5,18,3,12]
def sec_large_num(arr):
  k = max(arr)
  arr.remove(k)
  return max(arr)
sec_large_num(arr)

12

15. Write a Python program to get unique values from a list.

In [ ]:
def unique_values(list1):
  uni_val = []

  for ele in list1:
    if ele not in uni_val:
      uni_val.append(ele)
  return uni_val
print(unique_values([5,6,7,8,8,7,6,4,5]))

[5, 6, 7, 8, 4]

16. Write a Python program to count the number of elements in a list within a specified range.

In [ ]:
list1 = [22,1,27,89,56,15,10,222,56]
l = int(input("Enter lower bound : "))
u = int(input("Enter upper bound : "))
count = 0
lis2 = []
i = 0
for i in list1:
  if (i >= l and i <= u):
    lis2.append(i)
    count = count +1
print("List within a specific range : ",list1)
print("Count of list within a specific range : ",count)

Enter lower bound : 1
Enter upper bound : 222
List within a specific range :  [22, 1, 27, 89, 56, 15, 10, 222, 56]
Count of list within a specific range :  9


17. Consider a list (list = []). You can perform the following commands:

a. insert(i,e): Insert integer e at position i.

b. print: Print the list.

c. Remove(e): Delete the first occurrence of integer e.

d. Append(e): Insert integer e at the end of the list.

e. sort: Sort the list.

f. pop: Pop the last element from the list.

g. reverse: Reverse the list.

Initialize your list and perform the operations as per the user input from the given set of 7 commands. Continue the process of creating the list until the user enters ‘DONE’ as input.

In [ ]:
# a

list1 = [4,7,4,2,7]
list1.insert(3,15)
print("List after inssertion:",list1)

List after inssertion: [4, 7, 4, 15, 2, 7]

In [ ]:
# b
n = len(list1)
i=0
while i < n :
  print(list1[i],end = ' , ')
  i+=1

4 , 7 , 4 , 15 , 2 , 7 ,

In [ ]:
# c
list1.remove(7)
print("List after removing first occurence of 12:",list1)

List after removing first occurence of 12: [4, 4, 15, 2, 7]

In [ ]:
# d
list1.append(65)
print("List : ",list1)

List :  [4, 4, 15, 2, 7, 65]

In [ ]:
# e
list1.sort()
print("Sorted List : ",list1)

Sorted List :  [2, 4, 4, 7, 15, 65]

In [ ]:
# f
list1.pop(-1)
print("New List :",list1)

New List : [2, 4, 4, 7, 15]

In [ ]:
# g
list1.reverse()
print("Reverse of list : ",list1)

Reverse of list :  [15, 7, 4, 4, 2]

18. Given the names and grades for each student in a class of students, store them in a nested
list and print the name(s) of any student(s) having the second lowest grade.
Note: If there are multiple students with the second lowest grade, order their names
alphabetically and print each name on a new line.

In [ ]:
students_grade = []
for i in range(int(input("Enter number of students :"))):
  name = input("\nName :")
  score = float(input('Marks :'))
  students_grade.append([name,score])
sorted_scores = sorted(list(set([x[1]for x in students_grade])))
secound_lowest = sorted_scores[1]
low_final_list = []
for student in students_grade:
  if secound_lowest == student[1]:
    low_final_list.append(student[0])

for student in sorted(low_final_list):
  print("Name of Second lowest marks student : ",student)

Enter number of students :4

Name :jay
Marks :90

Name :raj
Marks :78

Name :jack
Marks :90

Name :yash
Marks :99
Name of Second lowest marks student :  jack
Name of Second lowest marks student :  jay

19. Write a python program to check if a list contains three consecutive numbers.

In [ ]:
list1 = [1,2,3,8,9,8,9,10]
i = 0
n = len(list1)
while (i<n-2) :
  if (list1[i+1]==list1[i]+1 and list1[i+2]==list1[i]+2):
    print("List consist 3 consecutive number and numbers are :",[list1[i],list1[i+1],list1[i+2]])
  i+=1

List consist 3 consecutive number and numbers are : [1, 2, 3]
List consist 3 consecutive number and numbers are : [8, 9, 10]

20. Write a python program to remove all the occurrences of a given element from a list

In [ ]:
list1 = [23,54,65,3,45,7,3,4,5,7]
n = int(input("Enter the number that you want to remove:"))
m = len(list1)
for i in list1 :
  if (i==n):
    list1.remove(i)
print(list1)

Enter the number that you want to remove:45
[23, 54, 65, 3, 7, 3, 4, 5, 7]

21. Write a python program to swap 2 mentioned characters at index (a,b) in any given string

In [ ]:
str1="sdf3464"
list1=list(str1)
def swap(list,a,b):
  list[a],list[b]=list[b],list[a]
  str2= "".join(list1)
  return str2

swap(list1,1,5)

's6f34d4'

22. Write a python program to remove all the duplications from a given list

In [ ]:
list1=list(input("Enter any List:"))
print("Given_List :",list1)

list2=list(set(list1))
print("Final_List :",list2)

Enter any List:456734
Given_List : ['4', '5', '6', '7', '3', '4']
Final_List : ['3', '5', '6', '7', '4']

23. Write a python program to extract tuples with ‘k’ digit elements

In [ ]:
list1 = [(3, ), (23, 56), (86, 232), (67, 12), (32, )]
 
print("The original list is : " + str(list1))

K = 2

res = list(filter(lambda sub: all(len(str(ele)) == K for ele in sub), list1))
 

print("The Extracted tuples : " + str(res))

The original list is : [(3,), (23, 56), (86, 232), (67, 12), (32,)]
The Extracted tuples : [(23, 56), (67, 12), (32,)]

24. Given two tuples, write a python program to find the intersecting elements

In [ ]:
tup1=(11,21,13,41,52)
tup2=(15,41,53,8,19,4)
tup1_set = set(tup1)
tup2_set = set(tup2)
print("Intersecting elements :",tup1_set.intersection(tup2_set))

Intersecting elements : {41}

25. Write a python program to remove duplicates from a tuple

In [ ]:
tup1=(11,12,13,14,12,11)
tup2=tuple(set(tup2))
print(tup2)

(4, 8, 41, 15, 19, 53)

26. Write a python program to check if two tuples are same or not.

In [ ]:
v1 = (4,7,4,8)
v2 = (4,7,4,8)
if v1 == v2 :
  print("Yes, v1 and v2 are same")
else:
  print("No, v1 and v2 are not same")

Yes, v1 and v2 are same

27. Write a python program to accept a string (having uppercased and lowercased characters)
from user and convert it to uppercased string

In [ ]:
str1 = input("Enter a string : ")
print("str1 in uppercase : " , end = "")
print(str1.upper())

Enter a string : asdfYR
str1 in uppercase : ASDFYR

28. Write a python program to accept a string from user and display by incrementing each
word by one unit. For eg: incrementing ‘a’ will give ‘b’, ‘A’ will give ‘B’, 1 will give 2 and so
on.

In [ ]:
string = input("Enter a string ")

for ele in string:
  x = chr(ord(ele) + 1)
  print(x , end = "")

Enter a string asdfrs
btegst

29. Write a python program to accept a miscellaneous string (with characters, digits and special
characters) and store them in separate strings of characters, digits and special characters.

In [ ]:
def splitString(str):
 
    char = ""
    digit = ""
    spe_char = ""
    for i in range(len(str)):
        if (str[i].isdigit()):
            digit = digit+ str[i]
        elif(str[i].isalpha()):
            char += str[i]
        else:
            spe_char += str[i]
    return digit , char , spe_char

print(splitString("asdf123#$%^"))

('123', 'asdf', '#$%^')

30. Write a python program to accept a string and sort the string in descending order.

In [ ]:
str1 = input("Enter a string : ")
list1 = list(str1)
list2 = sorted(list1  , reverse = True)
print(str(list2))

Enter a string : asgrsg
['s', 's', 'r', 'g', 'g', 'a']

31. Write a python program to accept a string and remove the vowels from that string.

In [ ]:
string = input("Enter a Sting : ")
def remove_vowel(string):
  vowels = ['a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U']
  result = ""

  for i in range(len(string)):
    if string[i] not in vowels:
      result = result + string[i]
  return result
print("\nAfter removing Vowels: ", remove_vowel(string))

Enter a Sting : asdf79^%$#%

After removing Vowels:  sdf79^%$#%

In [ ]:
k = "Python"
m = "&"
k = "$@".join(k)
print(k)

P$@y$@t$@h$@o$@n

In [ ]:
import string
print(list(string.ascii_digits))

AttributeError: ignored

In [ ]:
k = "Python"
print(k[::-1])

nohtyP

In [ ]:
a = list(range(10))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
k = ((2,3),6)
k
print(set(k))

{(2, 3), 6}