1. Accept one no and display its absolute value.

In [ ]:
n = float(input("Enter n : "))
def absolute_value(x):
  if (x >= 0) :
    print("Absolute value = ",x)
  else:
    print("Absolute value = ",-x)

absolute_value(n)

Enter n : -9
Absolute value =  9.0

2. Get 2 no from user and display base^exp. (2^3=8)

In [ ]:
base=float(input("Enter base number: "))
exp=float(input("Enter exponent number: "))
def power(base,exp):
  
  else:
    result=base ** exp
    return result
power(base,exp)

Enter base number: 5
Enter exponent number: 3

125.0

3. Get a string from user and display length of that string.

In [ ]:
def len_string():
  string = input("Enter a string :  ")
  return len(string)
print("length of string  : ",len_string())

Enter a string :  BHARGAV
length of string  :  7

4. Get two strings from user and compare weather both are same or not.

In [ ]:
def compare(st1,st2):
  if (len(st1)==len(st2)):
    i = 0
    ck = 0
    n = len(st1)
    for i in range(n):
      if st1[i] == st2[i]:
        ck += 1
        i += 1
    if (ck == n):
      print("Strings are equal")
    else:
      print("Strings are not equal")
  else:
    print("Strings are not equal")

st1 = input("Enter string : ")
st2 = input("Enter string : ")
compare(st1,st2)

Enter string : ASD
Enter string : ASC
Strings are not equal

5. Get a string from user and display reverse of it.

In [ ]:
string=input("Enter a string : ")
def reverse_of_string(str):
  reversed=str[len(str)::-1]   
  return reversed
print("Reversed string: ",reverse_of_string(string))

Enter a string : edoc
Reversed string:  code

6. Get two strings from user and merge it into first string.

In [ ]:
def merge_string():
  string1 = input("Enter a string1 : ")
  string2 = input("Enter a string2 : ")
  string3 = string1+string2
  return string3

print("string After Merge :  ",merge_string())

Enter a string1 : Bhargav
Enter a string2 : Pandya
string After Merge :   BhargavPandya

7. Get a string from user and display it in lower case.

In [ ]:
str1=input("Enter a character string: ")
def lower_str(str1):
  if str1.isalpha():
    converted_str=str1.lower()
    return converted_str
  else:
    return print("Please enter a character string!")

print("Converted to lower string: ",lower_str(str1))

Enter a character string: BHARGAV
Converted to lower string:  bhargav

8. Get a string from user and display it in upper case.

In [ ]:
str1=input("Enter a character string: ")
def upper_str(str1):
  if str1.isalpha():
    converted_str=str1.upper()
    return converted_str
  else:
    return print("Please enter a character string!")

print("Converted to upper string: ",upper_str(str1))

Enter a character string: pandya
Converted to upper string:  PANDYA

9. Create a user define function named sum which accept 2 arguments (of
integer type) and return the sum of them.

In [ ]:
num1 = int(input("Enter a num1 : "))
num2 = int(input("Enter a num2 : "))
def sum(num1,num2):
  return num1+num2
sum(num1,num2)

Enter a num1 : 5
Enter a num2 : 6

11

10. Create a user define function named avg which pass array as argument (of integer type) and return its average value.

In [ ]:
def avg(array):
  sum = 0
  for i in array:
    sum += i
  return sum/len(array)

array = []
n = int(input("Enter length of array : "))
for i in range(n):
  a = int(input("Enter element of an array : "))
  array.append(a)
print("Average of an array = ",avg(array))

Enter length of array : 4
Enter element of an array : 3
Enter element of an array : 4
Enter element of an array : -8
Enter element of an array : 7
Average of an array =  1.5

11. Create a user define function named evenodd which accept one argument
(of integer type) and return if the number is even or odd.

In [ ]:
number=int(input("Enter any number: "))
def even_odd(number):    
  if number%2==0:
    return print("Given number is Even")
  else:
    return print("Given number is odd")
even_odd(number)

Enter any number: 6
Given number is Even

12. Create a user define function named fact which accept one argument (of
integer type) and return the factorial of given number.

In [ ]:
n = int(input("Enter a num : "))
def factorial(n):
  if n < 0 :
    return print("Factorial is not exist for {} .".format(n))
  elif n == 0 :
    return print("0! = 1 ")
  else : 
    fact  = 1 
    for i in range(1,n+1):
      fact = fact*i
    return print("{} ! = {}".format(n,fact))
factorial(n)

Enter a num : 7
7 ! = 5040

13. Create a user define function named prime which accept one argument (of
integer type) and display that the no is prime or not. (no need to return value)

In [ ]:
def prime(n):
  m = 0
  if(n>1):
    for i in range(2,n):
      if (n%i==0):
        m = 1
        break
    if(m==1):
      print("Not prime")
    else:
      print("prime")
  else:
    print("Invalid")

n = int(input("Enter number : "))
prime(n)

Enter number : 8
Not prime

14. Create a user define function named triangle which accept one argument (of
integer type) and display a triangle like. (If you have given 4 as argument)

In [ ]:
n=int(input("Enter any number:"))
def triangle(n):
  for i in range(1,n+1):
    for j in range(1,i+1):
      print(j,end="")
    print()
triangle(n)

Enter any number:5
1
12
123
1234
12345

15. Create a user define function named power which accept two arguments (of
integer type) (i) base (ii) expon and display the base^expon value.

In [ ]:
a = int(input("Enter base : "))
n = int(input("Enter power : "))
def power(a,n):
    if n==0 and a!=0:
      return 1
    elif n==0 and a==0:
      return print("invalid input") 
    else:
      value = power(a,n//2)
      if n%2 == 0:
        return value*value
      else:
        return a*value*value

print("{}^{} = {}".format(a,n,power(a,n)))

Enter base : 6
Enter power : 3
6^3 = 216

16. Create a user define function named root which accept one argument (of
integer type) and display the square root of that no.

In [ ]:
def s_root(n):
  print("Square root",n**(1/2))

n = int(input("Enter integer number : "))
s_root(n)

Enter integer number : 9
Square root 3.0

17. Create a user define function named ASCII which accept one argument (of
character type) and display ASCII value of that character.

In [ ]:
character=input("Enter any character: ")
def ASCII(character):
  if character.isalpha():
    asc=ord(character)
    return print("ASCII vale of given character is",asc)
  else:
    return print("Please enter a character!")
ASCII(character)

Enter any character: d
ASCII vale of given character is 100

18. Create a user define function named CHR which accept one argument (of
integer type) and display character of that ASCII value.

In [ ]:
a = int(input("Enter a : "))
def CHR(a):
  b = chr(a)
  return b
print(CHR(a))

Enter a : 51
3

19. Write a function to count the simple interest.

In [ ]:
def simple_interest(p,r,t):
  S_I = p*r*t/100
  print("Simple Interest : ",S_I)

p = int(input("Enter Principal Amount: "))
r = int(input("Enter Rate Of Interest: "))
t = int(input("Enter Time : "))
simple_interest(p,r,t)

Enter Principal Amount: 10000
Enter Rate Of Interest: 10
Enter Time : 2
Simple Interest :  2000.0

20. Write a function that count compound interest.

In [ ]:
p=float(input("Enter principal amount: "))
r=float(input("Enter annual interest rate : "))
t=int(input("Enter time in year: "))
def compound_interest(p,r,t):
  CI=round((p*(1+(r/100))**t)-p,2)
  return CI
print("Compound interest: ",compound_interest(p,r,t))

Enter principal amount: 10000
Enter annual interest rate : 10
Enter time in year: 2
Compound interest:  2100.0

21. Write a function to generate the square of any given number

In [ ]:
n = float(input("Enter a number  "))
def squre(n):
  ans = n**2
  return ans
print("squre of {}  = {}".format(n,squre(n)))

Enter a number  4
squre of 4.0  = 16.0

22. Write a function to count mean for discrete data.

In [ ]:
def mean(data):
  n = len(data)
  sum = 0
  for i in data:
    sum = sum + i
  mean = sum/n
  return mean

data = []
n = int(input("Enter num of observation : "))
for i in range(n):
  a = int(input("Enter observation : "))
  data.append(a)
print("Mean of discrete data : ",mean(data))

Enter num of observation : 5
Enter observation : 1
Enter observation : 2
Enter observation : 4
Enter observation : 7
Enter observation : 4
Mean of discrete data :  3.6

23. Write a function to find out maximum from of n no of values.

In [ ]:
n=int(input("Enter length of list: "))

def maximum(n):
  l=[]
  max=-325678
  for i in range(1,n+1):
    ele=float(input("Ente {} element of list: ".format(i)))
    l.append(ele)
    if ele>max:
      max=ele
  return max

print("Maximum number :",maximum(n))

Enter length of list: 6
Ente 1 element of list: 2
Ente 2 element of list: 6
Ente 3 element of list: 0
Ente 4 element of list: -3
Ente 5 element of list: 2
Ente 6 element of list: 7
Maximum number : 7.0

24. Write a function to arrange integer values in ascending order in a list

In [ ]:
k = [2,4,7,7,-2,3,-9,3]

def acd(a):
  for i in range(len(a)):
    for j in range(i,len(a)):
      if a[i] > a[j]:
        a[i] , a[j] = a[j] , a[i]
  return a

print(acd(k))

[-9, -2, 2, 3, 3, 4, 7, 7]

25. Write a program that take input names of 10 students. Arrange them in
ascending order.

In [ ]:
def Sort(students):

  In_ascending = []

  while students:
    min = students[0]
    for i in students:
       if i < min:
         min = i 
    In_ascending.append(min)
    students.remove(min)
  print("Name in ascending order : ",In_ascending)    


students = []
n = 10

for i in range(n):
  a = input("Enter name of students : ")
  students.append(a)

print("Students Name : ",students)
Sort(students)

Enter name of students : Bhargav
Enter name of students : Ajay
Enter name of students : Kashyap
Enter name of students : Radha
Enter name of students : Haresh
Enter name of students : Jay
Enter name of students : Jaya
Enter name of students : Ayush
Enter name of students : Sachin
Enter name of students : Nakul
Students Name :  ['Bhargav', 'Ajay', 'Kashyap', 'Radha', 'Haresh', 'Jay', 'Jaya', 'Ayush', 'Sachin', 'Nakul']
Name in ascending order :  ['Ajay', 'Ayush', 'Bhargav', 'Haresh', 'Jay', 'Jaya', 'Kashyap', 'Nakul', 'Radha', 'Sachin']

26. Write a program that take input paragraph of 10 lines. Count total no of word
and total no of characters (Excluding blank spaces).

In [ ]:
paragraph=""
for i in range(1,11):
  if i!=10:
    paragraph = paragraph + input("Enter {} line :".format(i)) + "\n"
  else:
    paragraph = paragraph + input("Enter {} line :".format(i))
print(paragraph)


def count_paragraph(paragraph):

  line=paragraph.split("\n")
  word=[]
  characters=0
  for i in range(len(line)):
    word.extend(line[i].split(" "))
  count_word=len(word)
  for i in range(len(word)):
    characters = characters + len(word[i])
  return count_word,characters


print("(No of words, No of characters) =" , count_paragraph(paragraph))

Enter 1 line :Under pressure to push out software updates to enable 5G services on iPhone in
Enter 2 line :India, Apple Wednesday said it will start rolling out the software update needed to
Enter 3 line :users in December. Top government officials were scheduled to meet Apple,
Enter 4 line :Samsung and other smartphone makers to nudge them to prioritise the 5G update
Enter 5 line :for the Indian market where Prime Minister Narendra Modi announced the launch of services on October 1.
Enter 6 line :“We are working with our carrier partners in India to bring the best 5G experience
Enter 7 line :to iPhone users as soon as network validation and testing for quality and
Enter 8 line :performance is completed. 5G will be enabled via a software update and will start
Enter 9 line :rolling out to iPhone users in December,” Apple said in a statement Wednesday.
Enter 10 line :Apple is known to be finicky about user experience and this could be why it will take time to test the services available in India and how it works on its devices.
Under pressure to push out software updates to enable 5G services on iPhone in
India, Apple Wednesday said it will start rolling out the software update needed to
users in December. Top government officials were scheduled to meet Apple,
Samsung and other smartphone makers to nudge them to prioritise the 5G update
for the Indian market where Prime Minister Narendra Modi announced the launch of services on October 1.
“We are working with our carrier partners in India to bring the best 5G experience
to iPhone users as soon as network validation and testing for quality and
performance is completed. 5G will be enabled via a software update and will start
rolling out to iPhone users in December,” Apple said in a statement Wednesday.
Apple is known to be finicky about user experience and this could be why it will take time to test the services available in India and how it works on its devices.
(No of words, No of characters) = (156, 745)

27. Write a function to check whether the entered string is satisfying the
password criteria or not.
Password criteria:

 1. Atleast one uppercase, lowercase and digit should be there
 2. Not less than 8 characters and not more than 20 characters
 3. Password should not start with any special characters or digits
 4. Allowable special character: @,&,$

In [ ]:
password = input("Enter your password : ")


def password_check(password):

  sp_char = ['@','&','$']

  if len(password) < 8 or len(password)>21:
    return print("Enter valid password ! ")

  elif (password[0].isdigit()) or (password[0] in sp_char) :
    return print("Enter valid password ! ")

  else :

    count_digit , count_lowercase , count_uppercase = 0,0,0

    for ele in password:
      if ele.isdigit():
        count_digit += 1
      elif ele.islower():
        count_lowercase += 1
      elif ele.isupper():
        count_uppercase += 1
      elif ele not in sp_char:
        return print("Enter valid password !")


    if count_digit >0 and count_lowercase >0 and count_uppercase >0:
      return password
    else:
      return print("password is invalid")

password_check(password)