Name : Bhargav R Pandya

Student Id : 202218055

1.

Consider two disjoint lists with each having 10 elements. Now, randomly generate the
number and add it to the list alternatively. Stop the process when intersection of both the
lists is a singleton set. The range of the values in the lists is [0,100]. Calculate the total
number of distinct elements in both the lists.

In [ ]:
import random
arr1 = [1,22,63,48,51,67,73,87,99,120]
arr2 = [43,75,88,3,6,98,5,2,54,7]
arr1 = set(arr1)
arr2 = set(arr2)
def intersection_singleton(arr1,arr2):
  k = arr1.intersection(arr2)
  if len(k)>0:
    print("Please enter disjoint lists")
  else:
    arr1 = set(arr1)
    arr2 = set(arr2)
    print(arr1.intersection(arr2))
    
    while True :
      arr1.add(random.randint(0,100))
      arr2.add(random.randint(0,100))
      k = arr1.intersection(arr2)
      if len(k)>0:
        print(arr1)
        print(arr2)
        return len(arr1),len(arr2)
        break

intersection_singleton(arr1,arr2)

set()
{1, 67, 99, 36, 73, 48, 51, 22, 87, 120, 93, 63}
{98, 3, 2, 5, 6, 7, 75, 43, 79, 54, 88, 63}

(12, 12)

2)

There is an array of n integers. There are also 2 disjoint sets, A and B, each containing m integers. You like all the integers in set A and dislike all the integers in set B. Your initial happiness is 0. For each i integer in the array, if i (in A , you add 1 to your happiness. If i (in B, you add -1 to your happiness. Otherwise, your happiness does not change. Output your final happiness at the end.

In [ ]:
n = int(input("Enter len of array : "))
m = int(input("Enter a size of sets : "))

def happiness(n , m):
  arr = []
  print("Enter ele of an array : ")
  for i in range(n):
    ele = int(input())
    arr.append(ele)
  count = 0
  print("Enter ele of set A means enter those ele which you like ")
  A = []
  for i in range(m):
    ele = int(input())
    A.append(ele)
  A = set(A)

  print("Enter ele of set B means enter those ele which you dont like ")
  B = []
  for i in range(m):
    ele = int(input())
    B.append(ele)
  B = set(B)
  k = A.intersection(B)
  if len(k) >0:
    print("A intersection B should phi ")
  else:
    for i in range(n):
      if arr[i] in A:
        count+=1
      elif arr[i] in B:
        count-=1
      else :
        count = count
    return count
print("happiness = ",happiness(n,m))

Enter len of array : 5
Enter a size of sets : 4
Enter ele of an array :
1
2
6
7
4
Enter ele of set A means enter those ele which you like
3
9
4
5
Enter ele of set B means enter those ele which you dont like
1
2
0
7
happiness =  -2

3 )  
Students of DAIICT have subscriptions to English and Hindi magazines. Some students
have subscribed to English only, some have subscribed to Hindi only, and some have
subscribed to both magazines. You are given two sets of student roll numbers. One set has
subscribed to the English magazines, and one set has subscribed to the Hindi magazines.
Your task is to find the total number of students who have subscribed to either the English or
the Hindi magazines but not both.

In [ ]:
set_E = {1,2,3,4,5}
set_H = {3,2,7,9}
def hindi_or_english(set_E,set_H):
  result = set_E.symmetric_difference(set_H)
  return result
hindi_or_english(set_E, set_H)

{1, 4, 5, 7, 9}

4. 

Given n tuples of n people details, formatted as (name, phone number). Now, it is assumed
that each family is having only one phone number. Now identify the number of families with
family size >4, 4, 3, 2, 1. Here, consider n>20.

In [ ]:
Details = [('Iron Man',1), ('Thor',2), ('Wasp',3), ('Ant-Man',1), ('Hulk',2), 
           ('Captain America',3), ('Hawkeye',4), ('Quicksilver',3), ('Scarlet Witch',1), ('Hercules', 5), ('Black Panther',4),  
           ('Vision',8), ('Black Knight',8), ('Black Window',7), ('Swordsman',9), ('Mantis',7), ('Beast',8), 
           ('Moondragon',10), ('Hellcat',10), ('Wonder Man',6), ('Two_Gun Kid',7), ('She Hulk',1), 
           ('Starfox',8), ('King Namor',4), ('War matchine',9), ('Thing',5), ('U.S.Agent',8),  
           ('Invisible Woman',9), ('Quasar',9), ('Sersi',5), ('Stingray',7), ('Rage',7)] 
s = set() 
for i in Details: 
  s.add(i[1]) 
print(s) 
d = {} 
for i  in s: 
  d[i] = [] 
for i in Details: 
  d[i[1]].append(i[0]) 
print(d) 
c1 = c2 = c3 = c4 = c5 = 0 
for i in d: 
  length = len(d[i]) 
  if length == 1: 
    c1 += 1 
  elif length == 2: 
    c2 += 1 
  elif length == 3: 
    c3 += 1 
  elif length == 4: 
    c4 += 1 
  else: 
    c5 += 1 
print("\nNumber of families having 1 member are: ",c1) 
print("\nNumber of families having 2 member are: ",c2) 
print("\nNumber of families having 3 member are: ",c3) 
print("\nNumber of families having 4 member are: ",c4) 
print("\nNumber of families having >4 member are: ",c5)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1: ['Iron Man', 'Ant-Man', 'Scarlet Witch', 'She Hulk'], 2: ['Thor', 'Hulk'], 3: ['Wasp', 'Captain America', 'Quicksilver'], 4: ['Hawkeye', 'Black Panther', 'King Namor'], 5: ['Hercules', 'Thing', 'Sersi'], 6: ['Wonder Man'], 7: ['Black Window', 'Mantis', 'Two_Gun Kid', 'Stingray', 'Rage'], 8: ['Vision', 'Black Knight', 'Beast', 'Starfox', 'U.S.Agent'], 9: ['Swordsman', 'War matchine', 'Invisible Woman', 'Quasar'], 10: ['Moondragon', 'Hellcat']}

Number of families having 1 member are:  1

Number of families having 2 member are:  2

Number of families having 3 member are:  3

Number of families having 4 member are:  2

Number of families having >4 member are:  2

5

Write a function histogram() to build a histogram that takes a string and builds a frequency
listing of the characters contained in it.

In [ ]:
def Histo(S): 
    D =dict() 
    for C in S: 
        if C not in D: 
            D[C] = 1 
        else: 
            D[C] =D[C]+1 
    return D 
H=Histo("success") 
print(H)

{'s': 3, 'u': 1, 'c': 2, 'e': 1}

6.

Consider character list i.e. the list that contains only characters. Now this list can have same
character multiple times and also contains small-cased and upper-cased alphabets. Identify
the missing characters (if any) in this character list, so that, inclusion of those missing
characters, will complete all the upper-cased alphabets in that given list. Note: This needs
to be done without looping

In [ ]:
import string
Upper = set(string.ascii_uppercase)
Lower = set(string.ascii_lowercase)

A = str(input("Enter Characrers in from of string: "))
A = set(A)
print("Characters missing in uppercase Alphabates are:\n ",set(Upper).difference(set(A)))
print("Characters missing in lowercase Alphabates are:\n ",set(Lower).difference(set(A)))

Enter Characrers in from of string: ryegSDFkihjkFE
Characters missing in uppercase Alphabates are:
  {'M', 'Q', 'W', 'K', 'B', 'P', 'I', 'Z', 'C', 'J', 'A', 'N', 'G', 'U', 'H', 'X', 'L', 'O', 'R', 'T', 'V', 'Y'}
Characters missing in lowercase Alphabates are:
  {'p', 'x', 'b', 'l', 'a', 'q', 't', 'n', 'd', 'm', 'f', 'z', 'v', 'o', 'w', 'u', 's', 'c'}

7

Remove all the duplicate words in a given sentence.

In [ ]:
def remove_duplicate():
  sent = input("Enter a sentence : ")
  sent_list = sent.split(" ")
  ans =""
  for ele in sent_list:
    if ele not in ans :
      ans = ans+" " +ele
  return ans


print(remove_duplicate())

Enter a sentence : Python is snack and Python language is laun
 Python is snack and language laun

8. 
Give a dictionary with value lists, sort the keys by summation of values in value list.

In [ ]:
dict_1 = {'arr1': [1,4,3] ,'arr2': [1,6,3]}
count = list(dict_1.items())

for i in range(len(dict_1)):
  for j in range(len(dict_1)):
    if sum(count[i][1]) < sum(count[j][1]):
      count[i], count[j] = count[j], count[i]

count = dict(count)

for i in count:
  count[i] = sum(count[i])
print(count)

{'arr1': 8, 'arr2': 10}

9

Prepare a list-dictionary i.e. a dictionary with its values given as a list. Now, extract the
unique elements from the dictionary values.

In [ ]:
dict_1 = {'name' : ['Ironman', 'Hulk', 'Thor', 'Spiderman', 'CaptainAmerica', 'Black Panther'], 
          'marks' : [46, 87, 80, 64, 78, 50], 'age' : [20, 23, 20, 22, 20, 21]}

for i in dict_1:
  print("Key is",i,": unique Values are: ",set(dict_1[i]))

Key is name : unique Values are:  {'Black Panther', 'Thor', 'CaptainAmerica', 'Hulk', 'Spiderman', 'Ironman'}
Key is marks : unique Values are:  {64, 78, 46, 80, 50, 87}
Key is age : unique Values are:  {20, 21, 22, 23}

10)
Ask the user to enter n entries. Now start grouping the entered numbers based on its sum of
the digits. Now find the group which is having the highest number of entries in it.

In [ ]:
A = []
print("Press Enter to add new number.\nWrite 'Done' to finish")
while 1:
  x = input("Enter your number: ")
  if x.isdigit():
    A.append(int(x))
  elif x == 'Done':
    break
  else:
    print("Enter Valid number: ")
    continue
A
dict2 = {}
for i in A:
  j = i
  sum = 0
  if j//10 == 0:
      sum = j
      if sum in dict2:
          dict2[sum].append(i)
      else:
          dict2[sum] = []
          dict2[sum].append(i)
  else:
    while j != 0:
        sum +=j%10
        j = j//10
    if sum in dict2:
        dict2[sum].append(i)
    else:
        dict2[sum] = []
        dict2[sum].append(i)
print(dict2)
count = 0
k =[]
for i in dict2:
    if len(dict2[i]) >= count:
        count = len(dict2[i])
for i in dict2:
    if len(dict2[i]) == count:
        k.append(i)
print("the key",k,"has the largest number of entries which are:",count)

Press Enter to add new number.
Write 'Done' to finish
Enter your number: 5
Enter your number: 44
Enter your number: 77
Enter your number: 4
Enter your number: 6
Enter your number: 5
Enter your number: 8
Enter your number: 71
Enter your number: 23
Enter your number: 54
Enter your number: 21
Enter your number: 14
Enter your number: Done
{5: [5, 5, 23, 14], 8: [44, 8, 71], 14: [77], 4: [4], 6: [6], 9: [54], 3: [21]}
the key [5] has the largest number of entries which are: 4